@mixin seccionNav {
	padding: 0.8em;
    //cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin inputTask{
	margin-left: 1em;
	color: white;		
	border: transparent;
	background-color: transparent;
	outline: none;
}
@mixin priorityButton{
	font-size: 0.8em;
	border: none;
	border-radius: 0.3em;
	padding: 0.2em 1em 0.2em 1em;
	color: white;
	cursor: pointer;
	outline: none;
}
@mixin mainAddButton{
	position: fixed;
    bottom: 10;
    right: 10;
    font-size: 2.6em;
    cursor: pointer;    
    box-shadow: 0 8px 5px rgba(0,0,0,0.2);
    border-radius: 100px;
}